
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Pangolin&display=swap');



.hing {
  display: flex;
  background-color: transparent;
  justify-content:  space-between;
  overflow: hidden;
  text-align: center;
  border-radius: 50px;
  border: 10px solid rgb(64, 213, 224);
  font-family: 'Pangolin', cursive;
}

.hing:hover {
  border-radius: 50px;
  border: 10px solid inherit;
}

.hing a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  flex: 1;
  border: turquoise solid 4px;
  align-items: center;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  

}

.hing a:hover {
  size: 30vh;
  color: aqua;
  border-radius: 40px;
  border: turquoise solid 4px;
  box-shadow: 2vh 2vh 2vh 2vh turquoise;
  max-height: 500px;
  transition: max-height 0.25s ease-in;
  animation: fade 12s infinite;
}

#title-page {
  width: 35%;
  align-items: center;
}

img {
  border-radius: 20px;
  aspect-ratio: inherit;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

  
html {
    background-size: 100%;
    background-color: rgb(81, 148, 235);
    background-image: url(https://i.pinimg.com/originals/0e/7f/e9/0e7fe9abe654c07b85215b6d55acc9ec.jpg);
    
    font-size: 4vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pres {
  display: flex;
  font-family: 'Geologica', sans-serif;
  align-items: center;
}

.text {
  
  align-items: center;
}
#myButton {
  
  background-color: rgb(255, 136, 57);
  padding: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 20px;
  border:  rgb(50, 50, 253) solid 5px;
  cursor: pointer;
}

#myButton:hover {
  box-shadow: 2vh 2vh 2vh 2vh rgb(13, 22, 2);
  color: rgb(13, 22, 2) ;
}

.corpus > .w{
  
  /* display:inline-block;  */
  
  height: 100vh; /* Ajusta la altura según tus necesidades */
  background: linear-gradient(to right, rgb(244, 247, 65) 50%, rgb(13, 22, 2) 50%);
  display: flex;
  justify-content: space-between;
  
}

#Off {
  color: rgb(13, 22, 2);
  
}

#On {
  color: rgb(244, 247, 65);
  
}


.p {
  flex: 1;

}

#proyect-page {
  cursor: pointer;
  background-color: rgb(255, 136, 57);
  padding: 12px;
  text-decoration: none;
 /*  letter-spacing: 2px; */
  border-radius: 20px;
  border:  rgb(50, 50, 253) solid 5px;
}

#proyect-page:hover {
  box-shadow: 2vh 2vh 2vh 2vh rgb(244, 247, 65);
  color: rgb(244, 247, 65);
}
